.div-principal-implement{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  border-radius: 10px;
  padding: 10px;
  /* arriba | derecha | abajo | izquierda */
  padding: 10px;
  gap: 10px;
  box-shadow: var(--box-shadow);

  transition: padding 500ms ease;
}