# Backend
backend/node_modules
backend/public/config
backend/public/scripts
backend/public/uploads/implement/
backend/src/infrastructure/database/
# Frontend
frontend/node_modules

# Entorno
.env

# Documentos
doc

# Base de datos persistente
database/data/
database/*.db