
.div-principal-profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 80%;
  height: 100vh;
  padding: 10px;
  gap: 10px;
}

.div-principal-profile .content-avatar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height: 100%; */
}

.div-principal-profile .content-avatar .avatar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  /* text-align: center; */
  font-size: 3rem;
  color: #ffffff;
  background-color: var(--color-primary);
}

.div-principal-profile .fullname {
  text-align: center;
}

.div-principal-profile .content-data{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}

@media only screen and (min-width: 1369px) {
  .div-principal-profile{
    width: 100%;
  }
}

@media (max-width: 768px) {

  .div-principal-profile{
    width: 100%;
  }
}