
.div-badge-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 10px;
}

.div-badge-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.div-badge-container .badge {
  margin: 0;
}

.badge {
  display: inline-block;
  padding: 5px 10px;
  font-size: .7rem;
  border-radius: 12px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  left: 0;
}

/* Default color */
.badge-default {
  background-color: #9e9e9e;
}

/* Success color */
.badge-success {
  background-color: #4CAF50; /* Green */
}

/* Warning color */
.badge-warning {
  background-color: #FFC107; /* Yellow */
}

/* Error color */
.badge-error {
  background-color: #F44336; /* Red */
}

/* Info color */
.badge-info {
  background-color: #00B5C8; /* Blue */
}

/* Disabled color */
.badge-disabled {
  background-color: #BDBDBD; /* Gray */
  cursor: not-allowed;
}


/* Success color */
.badge-accepted {
  background-color: #4CAF50; /* Green */
}
/* Error color */
.badge-refused {
  background-color: #F44336; /* Red */
}

/* Info color */
.badge-requested {
  background-color: #00B5C8; /* Blue */
}

/* Disabled color */
.badge-finished {
  background-color: #BDBDBD; /* Gray */
  cursor: not-allowed;
}

