.badge {
  display: inline-block;
  padding: 5px 10px;
  font-size: .7rem;
  border-radius: 12px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  left: 0;
}

/* Default color */
.badge-default {
  background-color: #9e9e9e;
}

/* Success color */
.badge-success {
  background-color: #4CAF50; /* Green */
}

/* Warning color */
.badge-warning {
  background-color: #FFC107; /* Yellow */
}

/* Error color */
.badge-error {
  background-color: #F44336; /* Red */
}

/* Info color */
.badge-info {
  background-color: #00B5C8; /* Blue */
}

/* Disabled color */
.badge-disabled {
  background-color: #BDBDBD; /* Gray */
  cursor: not-allowed;
}
