.card {
  /* position: relative; */
  /* flex-basis: calc(25% - 200px);
  min-width: calc(25% - 200px); */
  /* height: 450px;
  min-height: 20%;
  box-sizing: border-box;
  text-align: center;
  border-radius: 0.75rem; */


  min-width: 180px;
  height: fit-content;
  background: #fff;
  border-radius: 12px;
  /* box-shadow: 0 2px 8px rgba(0,0,0,0.1); */
  box-shadow: var(--box-shadow);
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}


.card:hover {
  transform: translateY(-1px);
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
}

.div-img img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.description {
  margin: 10px;

  border-radius: 5px;
  padding: 10px;
  font-size: .9rem;
  font-weight: bold;
  color: #333;
  background-color: #F3F4F6;
}

.children{
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-sizing: border-box;
  /* arriba | derecha | abajo | izquierda */
  padding: 0px 10px 10px 10px
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
