.checkbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px; /* Ajusta según tu diseño */
  gap: 10px;
}

/* Estilo base del checkbox */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: #eeeeee;
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

/* Hover */
input[type="checkbox"]:hover {
  background-color: #e0e0e0;
}

input[type="checkbox"]:checked {
  background-color: #9e9e9e; /* Gris un poco más oscuro */
}


/* Alineación de texto */
.checkbox-label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox-text {
  font-size: .9rem;
  font-weight: bold;
  color: #000;
}
