.checkbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px; /* Ajusta según tu diseño */
  gap: 10px;
}

/* Estilo base del checkbox */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: #ebebeb;
  border: none;
  width: 24px;
  height: 24px;
  border-radius: 40%;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

/* Hover */
input[type="checkbox"]:hover {
  background-color: #e0e0e0;
}

input[type="checkbox"]:checked {
  /* background-color: #9e9e9e; Gris un poco más oscuro */
  border: 4px solid var(--color-primary);
}


/* Alineación de texto */
.checkbox-label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox-text {
  font-size: .9rem;
  font-weight: bold;
  color: #000;
}


.checkbox-label input[type="checkbox"] {
  display: none; /* ocultamos el checkbox real */
}

.custom-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  /* margin-right: 8px; */
  vertical-align: middle;
  font-size: 18px; /* ajusta tamaño del icono */
}
