.head-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1rem;
}

.head-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.head-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 0.75rem;
  margin-bottom: 20px;
}
