.scroll-wrapper {

    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.scroll-container {
  display: flex;
  width: 100%;
  /* height: 100%; */
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 10px;
  padding: .5rem;
  /* background-color: #ffffff; */
  scrollbar-width: none; /* Firefox */
}

.scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.scroll-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.9);
  border: none;
  cursor: pointer;
  padding: 0.3rem;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  transition: background 0.2s ease;
  z-index: 2;
}

.scroll-btn:hover {
  background: white;
}

.scroll-btn.left {
  left: 0.3rem;
}
.scroll-btn.right {
  right: 0.3rem;
}
