.inputContainer {
  position: relative;
  width: 100%;
}

/* Inputs */
input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"] {
  width: 100%;
  border: none;
  background-color: #f5f5f5;
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 25px 10px 6px 10px;
  outline: none;
  color: #000;
  transition: all 0.3s ease;
}

/* Focus */
input:focus {
  border: 1.5px solid var(--border2);
}

/* Label base */
.label {
  position: absolute;
  top: 6px;
  left: 10px;
  color: #999;
  font-size: 0.9rem;
  font-weight: 500;
  pointer-events: none;
  transition: 0.2s ease all;
}

/* Activo cuando hay valor o foco */
.label.active {
  top: 3px;
  left: 10px;
  font-size: 0.75rem;
  color: #888;
}
