.inputContainer {
  position: relative;
  width: 100%;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"] {
  width: 100%;
  border: none;
  background-color: #f5f5f5; /* m치s suave que #D9D9D9 */
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 500; /* texto como "Guitarra" m치s marcado */
  padding: 25px 10px 6px 10px; /* deja espacio arriba para el label */
  outline: none;
  color: #000;
  transition: all 0.3s ease;
}


input[type="search"]{
  width: 100%;
  border: none;
  background-color: #f5f5f5; /* m치s suave que #D9D9D9 */
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 500; /* texto como "Guitarra" m치s marcado */
  padding: 10px 6px 10px; /* deja espacio arriba para el label */
  outline: none;
  color: #000;
  transition: all 0.3s ease;
}

input:focus {
  /* background-color: #fff; */
  border: 1.5px solid var(--border2);
}

.label {
  position: absolute;
  top: 6px;
  left: 10px;
  color: #999;
  font-size: 0.9rem;
  font-weight: 500;
  pointer-events: none;
  transition: 0.2s ease all;
  background-color: transparent;
}

/* Cuando el input tiene texto o foco */
input:focus + .label,
input:not(:placeholder-shown) + .label,
input[value]:not([value=""]) + .label {
  top: 3px;
  left: 10px;
  font-size: 0.75rem;
  font-weight: 500;
  color: #888;
}

/* Placeholder estilo suave */
input::placeholder {
  color: transparent; /* ocultamos placeholder real */
}
