/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.modal {
  display: flex;
  flex-direction: column;
  height: auto;
  max-height: 500px;
  width: auto;
  /* box-sizing: border-box; */
  background: white;
  padding: 10px;
  gap: 10px;
  
  /* border-radius: .75rem; */
  position: relative;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.modal-close {
  /* position: absolute; */
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 10px;
  /* z-index: 2; */
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}