/* Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}

.modal {
  display: flex;
  flex-direction: column;
  height: auto;
  max-height: 600px;
  max-width: 600px;
  /* box-sizing: border-box; */
  background: white;
  padding: 10px;
  gap: 10px;
  
  /* border-radius: .75rem; */
  position: relative;
  overflow-y: auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.modal-close {
  /* position: absolute; */
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 10px;
  /* z-index: 2; */
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}


.view-wrapper {
  position: relative;
  width: 520px;
  height: 420px;
  overflow: hidden;
  box-sizing: border-box;
}

/* Cada vista ocupa el 100% del modal */
.view {
  position: absolute;
  display: flex;
  flex-direction: column;
  inset: 0;
  background: #fff;
  padding: 5px;
  gap: 5px;
  box-sizing: border-box;
  opacity: 1;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}

/* Animaciones */
@keyframes slide-in-left {
  from {
    transform: translateX(100%);
    opacity: 0.3;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(-100%);
    opacity: 0.3;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-to-left {
  animation-name: slide-in-left;
}

.slide-to-right {
  animation-name: slide-in-right;
}