.nav, .menu {
  position: sticky;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-sizing: border-box;
  width: 100%;
  height: auto;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
}

.menu {
  margin: 0;
  padding: 0;
  width: 0;
  /* overflow: hidden; */
  transition: 0.5s;
}

.menu2{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 80%;
  height: 80px;
  padding: 10px;
  gap: 25px;
  background-color: #ffffff;

  @media (max-width: 552px) {
    width: auto
  }
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  padding: 10px;
  background-color: var(--color-primary);
}

@media (max-width: 768px) {
  .menu{
    width: 100%;
  }
}

.menu .input-search{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 30px;
  padding: 10px;
  margin-bottom: 10px;
  background: #ffffff;

  transition: width .2s;

  &>input{
    width: 70%;
    height: 100%;
    border-color: var(--border);
    border-radius: 0;
    border-top-left-radius: 2.5px;
    border-bottom-left-radius: 2.5px;

    &:focus-within{
      border-color: var(--border);
    }
  }

  &>button{
    width: 30%;
    height: 100%;
    color: #ffffff;
    background-color: var(--primary);
    border-style: none;
    border-top-right-radius: 2.5px;
    border-bottom-right-radius: 2.5px;

    &:hover{
      cursor: pointer;
      background-color: var(--hover);
    }
  }
}


.menu2 .navBar-logo{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* vertical-align: middle; */
  width: 227px;
  height: 60px;
  
  @media (max-width: 552px) {
    width: 130px;
  }
}

.menu2 .navBar-logo-wellness{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* vertical-align: middle; */
  width: 100px;
  height: 20px;
  
  @media (max-width: 552px) {
    width: 130px;
  }
}

.menu2 .navBar-logo img, 
.menu2 .navBar-logo-wellness img{
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.menu ul{
  display: flex;
  justify-content: end;
  width: 80%;
}

.menu li {
  list-style: none;
  display: inline-block;
}

.menu li a {
  color: var(--text);
  text-align: center;
  text-decoration: none;
  padding-bottom: 5px;
}

.menu li a:hover {
  border-bottom: 2px solid #000000;
}

/* .menu li a:nth-child(1) {
  margin-right: 10px;
} */
/* 
.menu li a:nth-child(2) {
  color: #ffffff;
  font-size: 14px;
  margin-right: 20px;
} */

.menu li a:nth-child(3){
  margin-right: 5px;
}

.menu li a:nth-child(4){
  margin-right: 0px;
}


.menu li a .cart{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: 25px;
  border-radius: 50%;
  /* text-align: center; */
  /* font-weight: 600; */
  padding: 2px;
  z-index: 1;
  color: #ffffff;
  background-color: #000000;
}

/* .menu li a .icon{
  position: relative;
  width: 30px;
  height: 30px;
  z-index: 0;
}

.menu li a .icon img{
  object-fit: cover;
  width: 100%;
  height: 100%;
} */




.categories {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 70px;
}

.categories ul{
  display: flex;
  flex-direction: row;
  width: 450px;
  gap: 20px; /* espacio entre los <li> */
  list-style: none;
  padding: 0;
  margin: 0;
  list-style-type: none; /* Elimina los puntos de la lista */
}

.categories li.cat {
  display: flex;
  flex-direction: row;
  height: auto;
  padding: 10px;
  position: relative;
  margin: 0; /* Elimina el margen predeterminado */
  text-decoration: none;
  border: none;
  /* outline: none; */
  list-style-type: none;
  cursor: pointer;
}

.categories .cat .cat-label{
  display: block;
}

.categories .subcat {
  display: none;
  position: absolute;
  width: 100%;
  background-color: white;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  top: 100%;
  left: 0;
  z-index: 1000;
  min-width: 150px;
}


.categories .cat:hover .subcat {
  display: inline-block;
}

.subcat a {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  text-decoration: none;
  color: #333;
}

.subcat a:hover {
  background-color: #f0f0f0;
}


@media only screen and (min-width: 1369px) {
  .menu2 {
    width: 60%;
  }
  .menu ul{
    width: 60%;
  }
}

/* @media only screen and (min-width: 1368px) {
  .menu, .categories{
    width: 70%;
  }
} */

/* .categories li a {
  color: var(--text);
  text-align: center;
  text-decoration: none;
  padding-bottom: 5px;
}

.categories li a:hover {
  border-bottom: 2px solid #000000;
}

.categories li a {
  margin-right: 30px;
} */

/* .nav span {
  position: absolute;
  left: 30px;
  width: 30px;
  height: 4px;
  border-radius: 50px;
  background-color: #666;
  pointer-events: none;
  transition: 0.5s;
}

.nav input:checked ~ span {
  background-color: #f974a1;
}

.nav span:nth-child(2) {
  transform: translateY(-8px);
}

.nav input:checked ~ span:nth-child(2) {
  transform: translateY(0) rotate(-45deg);
}
.nav span:nth-child(3) {
  transform: translateY(8px);
}

.nav input:checked ~ span:nth-child(3) {
  transform: translateY(0) rotate(45deg);
} */


/* 
.nav #category{
  position: sticky;
  top: 0;
  z-index: 9;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 90%;
  height: 100%;
}


.nav #category .dropdown-filter #title{
  cursor: pointer;
  color: var(--fnd);
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}

.nav #category .dropdown-filter:hover #title{
  cursor: pointer;
  text-decoration: underline;
}
.nav #category .dropdown-filter-content {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  background-color: var(--fnd2);
  z-index: 9999;
}

.nav #category .dropdown-filter{
  display: inline-block;
  position: relative;
  padding: 10px;
}

.nav #category .dropdown-filter:hover .dropdown-filter-content {
  display: block;
  justify-content: center;
  position: absolute;
  align-items: start;
  width: auto;
  min-width: 100%;
  font-size: 16px;
  height: auto;
  background-color: var(--fnd2);
}

.nav #category .dropdown-filter-content a {
  display: block;
  color: var(--primary);
  padding: 10px;
  font-weight: 500;
  text-decoration: none;
}
.nav #category .dropdown-filter-content a:hover {
  color: #FFFFFF;
  background-color: var(--hover);
} */
