/* La solución más sencilla, utilizando sólo CSS y no JS, sería recurrir a la propiedad position: sticky;. La parte mala es que hay algunas limitaciones de uso en ciertos navegadores, aunque en la gran mayoría de los modernos debería funcionar. */

.table-wrapper {
  width: 100%;
  height: 100%; /* Altura de ejemplo */
  border-radius: 10px;
  font-size: .9rem;
  overflow: auto;
  overflow-x: auto;
}

.table-wrapper table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.table-wrapper table thead {
  position: -webkit-sticky; /* Safari... */
  position: sticky;
  top: 0;
  /* left: 0; */
  z-index: 2;
}

.table-wrapper table thead th{
  text-align: start;
  /* border: 1px solid #000; */
  background-color: #FFF;
  padding: 10px;
  white-space: nowrap;
}


.table-wrapper table tbody td {
  text-align: start;
  /* border: 1px solid #000; */
  background-color: #D9D9D9;
  padding: 10px;
  white-space: nowrap;
  
}

.table-wrapper table tbody   tr td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

.table-wrapper table tbody   tr td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

@media (max-width: 768px) {

  .table-wrapper table thead th:nth-child(1),
  .table-wrapper table tbody td:nth-child(1) {
    z-index: 1;
    position: sticky;
    left: 0;
    background: white;
    border-right: 2px solid #ccc;
  }
}
