/* La solución más sencilla, utilizando sólo CSS y no JS, sería recurrir a la propiedad position: sticky;. La parte mala es que hay algunas limitaciones de uso en ciertos navegadores, aunque en la gran mayoría de los modernos debería funcionar. */

.table-wrapper {
  width: 100%;
  height: fit-content; /* Altura de ejemplo */
  border-radius: 10px;
  font-size: .9rem;
  /* arriba | derecha | abajo | izquierda */
  overflow: auto;
  overflow-x: auto;
  padding: 10px 10px 10px 10px;
  /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

.table-wrapper table {
  width: 100%;
  padding: 10px 10px 10px 10px;
  border-collapse: separate;
  border-spacing: 0 10px;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  background-color: #FFF;
}

.table-wrapper table thead {
  position: -webkit-sticky; /* Safari... */
  position: sticky;
  top: 0;
  /* left: 0; */
  z-index: 2;
}

.table-wrapper table thead th{
  text-align: start;
  /* border: 1px solid #000; */
  background-color: #FFF;
  padding: 10px 0px 10px 0px;
  white-space: nowrap;
}


.table-wrapper table tbody td {
  text-align: start;
  /* border: 1px solid #000; */
  background-color: #f1f1f1;
  padding: 5px;
  white-space: nowrap;
  font-weight: 500;
}

.table-wrapper table tbody   tr td:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

.table-wrapper table tbody   tr td:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

@media (max-width: 768px) {

  .table-wrapper table thead th:nth-child(1),
  .table-wrapper table tbody td:nth-child(1) {
    z-index: 1;
    position: sticky;
    left: 0;
    background: white;
    border-right: 2px solid #ccc;
  }
}
