.select-box{
  /* margin-top: 150px; */
  width: 100%;
  position: relative;
  cursor: pointer;
}

.select-option{
  position: relative;
  cursor: pointer;
}

/* .select-option input{
  width: 100%;
  background-color: #fff;
  color: #000;
  border-radius: 7px;
  cursor: pointer;
  font: 15px;
  padding: 15px 20px;
  border: 0 !important;
  outline: 0 !important;
} */

.select-option:after{
  content: "";
  border-top: 12px solid #000;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  position: absolute;
  right: 15px;
  top: 20%;
  /* margin-top: -2px; */
}

.content{
  display: none;
  width: 100%;
  background-color: #fff;
  position: absolute;
  color: #000;
  border-radius: 2.5px;
  border: 1px solid #b4b4b4;
  box-shadow: var(--box-shadow);
  z-index: 999;
  padding: 2px;
  margin-top: -25px;
}

.search input{
  width: 100%;
  font-size: 10px;
  padding: 15px;
  outline: 0;
  border: 1px solid #000000;
  border-radius: 2.5px;
  margin-bottom: 20px;
  cursor: pointer;
}

.options{
  /* margin-top: 5px; */
  /* margin-top: -15px; */
  max-width: 150;
  max-height: 50px;
  overflow-y: auto;
  padding: 0;
}

.options li{
  padding: 4px 10px;
  margin: 0 auto;
  height: 30px;
  font-size: 15px;
  cursor: pointer;
  /* border-bottom: 1px solid gray; */
}

.options li:hover{
  background-color: #f2f2f2;
}

.select-box.active .content{
  display: block;
}

.select-box.active .select-option:after{
  transform: rotate(-180deg);
}