.sidebar-profile {
  display: flex;
  flex-direction: column;
  width: 250px;
  /* height: fit-content; */
  border-radius: 20px;
  padding: 10px;
  gap: 10px;
  box-shadow: var(--box-shadow);
  background-color: #ffffff;
}

.item {
  padding: 8px 0;
  border-radius: 10px;
  background: #e5e5e5;
  font-weight: 600;
  cursor: pointer;
  text-align: left;
  transition: background 0.2s, transform 0.1s;
  text-decoration: none;
  color: black;

  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 20px;
}

.item:hover {
  transform: translateY(-1px);
}

.icon {
  font-size: 18px;
}

.item.active {
  background: #606060;
  color: white;
}

.item.active .icon {
  color: white;
}

.item.danger {
  background: #ff6b6b;
  color: white;
}

.item.danger:hover {
  background: #ff5a5a;
}
