*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
a{
  all: unset;
  font: inherit;
  cursor: pointer;
}

.side{
  position: fixed;
  width: 15rem;
  top: 0;
  left: 0px;
  font-size: .9rem;
  height: calc(100vh - 0.75rem);
  background-color: var(--sidebar);
  padding: 5px;
  display: flex;
  flex-direction: column;
  z-index: 10;
  box-shadow: var(--box-shadow);
  transition: width 500ms ease, background-color 500ms ease;
}

body.active nav{
  width: 15rem;
  background-color: var(--sidebar);
  color: white;
  transition: width 500ms ease, background-color 500ms ease;
}

.sidebar-header{
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden;  <-- REMOVIDO PARA QUE EL BOTÓN NO SE CORTE */
}

.sidebar-links{
  display: flex;
  align-items: center;
  overflow: auto;
  gap: .25rem;
}

.sidebar-header{
  margin-bottom: 1.5rem;
}

.logo-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100px;
  gap: 1.25rem;
}

.logo-wrapper > img {
  width: 100%;
  height: auto;
  padding: 0.4rem;
  border-radius: 0.5rem;
  object-fit: cover;
}

.sidebar-links{
  flex-direction: column;
  margin-bottom: auto;
}

nav > .sidebar-links{
  border-top: 1px solid rgb(211, 211, 211);
}

/* body.active .sidebar-links,
body.active .sidebar-header,
body.active .user-profile */
.sidebar-links,
.sidebar-header,
.user-profile{
  align-items: stretch;
}

.link {
  display: flex;
  padding: 0.4rem;
  border-radius: 5px;
  gap: 10px;
}

.hidden {
  display: none;
}

/* body.active .hidden{ */
.hidden{
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.link:hover,
.link.active:hover{
  background-color: var(--color-primary-hover);
}

.link.active{
  background-color: var(--color-primary-active);
  color: #ffffff;
}

.link > img{
  width: 30px;
  height: 30px;
}

.sub-link {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: .25rem;
}

.sidebar-bottom{
  border-top: 1px solid #e4e4e8;
}

.sidebar-bottom .sidebar-links{
  padding-bottom: 1.5rem;
}

.toggle-btn{
  display: none;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0px;
  right: -10px;
  padding: 0.2rem;
  background-color: #dddddd;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  transition: transform 0.5s ease;
}

.toggle-btn img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body.active .toggle-btn{
  transform: rotate(180deg);
}

/* body.active .div-principal{ */
/* .div-principal{
  margin-left: 15rem;
  transition: margin-left 500ms ease;
} */

.user-profile{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 1.5rem;
  border-top: 1px solid rgb(211, 211, 211);
}

.user-avatar{
  min-width: 48px;
  height: 48px;
  cursor: pointer;
  transition: scale 0.2s ease;
}

.user-avatar img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.user-avatar:hover{
  scale: 1.1;
}

.user-details{
  align-self: center;
  overflow: hidden;
}

.user-details .user-rol{
  font-size: 0.85rem;
  font-weight: 600;
}

.user-details .user-email{
  font-size: 0.8rem;
  word-wrap: break-word;
}


@media (max-width: 768px) {
  .side{
    width: 0;
    left: -10px;
    /* visibility: hidden;          Oculta visualmente */
    /* pointer-events: none;        No recibe clics */
    /* overflow: hidden;            Oculta contenido interno */
    transition: width 500ms ease, background-color 500ms ease;
  }

  body.active .side{
    position: fixed;
    z-index: 20;
    width: 15rem;
    visibility: visible;         /* Muestra */
    pointer-events: auto;        /* Permite clics */
  }
  

  .toggle-btn {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -35px; 
    z-index: 9; /* EL BOTÓN QUEDA SIEMPRE ENCIMA */
    width: 25px;
    height: 25px;
  }
}
