.slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding: 0 40px;
  background-color: #0000005b;
  color: #ffffff;
}

.fade {
  opacity: 0;
  animation: fadeInOut 5.5s ease-in-out;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
    transform: translateY(10px);
  }
  20%, 80% {
    opacity: 1;
    transform: translateY(0);
  }
}


@media only screen and (min-width: 1369px) {
  .slogan{
    font-size: 14px;
  }
}