.sub-title{
  color: #6b6b6b;
  font-weight: bold;
}

.div-home-implements-not-used {
  display: flex;
  flex-direction: row;
  overflow-x: 'auto';
  gap: 10px;
  padding: .5rem;
}

@media (max-width: 768px) {
  .div-home-implements-not-used{
    flex-direction: column;
  }
}

.scroll{
  position: relative;
  display: flex;
  width: 100%;
  padding: 10px;
  /* height: auto; */
  overflow-y: auto;
  /* border-radius: 50% */
  /* background: #fff; */
  mask: linear-gradient(90deg, transparent, #fff 0%, #fff 100%, transparent);
}

.scroll .div-card-scroll{
  display: flex;
  /* width: 100%; */
  gap: 10px;
  /* margin-bottom: 100px; */
  animation: animate var(--t) linear infinite;
  animation-delay: calc(var(--t) * -1);
}
.scroll .div-card-scroll:hover {
  animation-play-state: paused;
}

@keyframes animate{
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-100%);
  }
}