#pswd_info{
}

.none{
  display: none;
}

.valid{
  font-size: 13px;
  color: #34D399;
  transition: color .2s;
}

.invalid{
  font-size: 13px;
  color: #f10707;
  transition: color .2s;
}

.div-login-form{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.226);

  /* margin: 0 auto; */
  width: 100%;
  /* max-width: 100%; */
  height: 100vh;
  padding: 0px 0px 0px 0px;
  background: url("../assets/img/background.jpeg");
  /* background: linear-gradient(-45deg, #6DBE45, #23a6d5, #23d5ab); */
  /* opacity: .9; */
  background-size: 400% 400%;
  background-size: cover;
  animation: gradientMove 15s ease infinite;
}

/* Para que tenga como un color negro transparente y no ver la imagen  */
.div-login-form::before {
  content: "";
  position: absolute;
  inset: 0; /* top:0; left:0; right:0; bottom:0 */
  /* negro transparente */
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 1; /* detrás de los hijos */
}

.div-login-form > * {
  position: relative;
  z-index: 2; /* encima de la capa negra */
}

/* Animación */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.div-login{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: fit-content;
  padding: 10px;
  border-radius: 20px;
  /* background-color: #ffffff93; */
  /* margin: 0 auto; */
  /* box-shadow: var(--box-shadow); */
  gap: 10px;
  @media (max-width: 552px) {
    flex-direction: column;
  }
}


/* .slogan{
  width: 50%;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding-right: 40px;
  padding-left: 40px;
  color: #ffffff;
} */

.fade {
  opacity: 0;
  animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0; transform: translateY(10px); }
  20%, 80% { opacity: 1; transform: translateY(0); }
}

.login-form h2{
  color: #000000;
  margin-bottom: 20px;
}

.login-form .div-img{
  margin: 0 auto;
  width: 150px;
  height: auto;
  margin-bottom: 20px;
  
}

.login-form .div-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: drop-shadow(0 8px 15px rgba(255, 255, 255, 0.4));
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  background-color: #ffffff65;
  
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: #ffffff56 inset 1px;
  box-sizing: border-box;
  width: 30%;
  height: auto;
  /* border-radius: .75rem; */
  border-radius: 20px;
  padding: 20px;
  gap: 10px;
  box-shadow: var(--box-shadow);
}


.login-form > p {
  color: gray;
  font-size: 12px;
}

.login-form-login{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 15px;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}

/* Animaciones */
@keyframes slide-in-left {
  from {
    transform: translateX(100%);
    opacity: 0.3;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(-100%);
    opacity: 0.3;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-to-left {
  animation-name: slide-in-left;
}

.slide-to-right {
  animation-name: slide-in-right;
}

.btn-login{
  background-color: var(--color-primary);
  text-align: center;
  width: 100%;
  height: 40px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-style: none;
  border-radius: 10px;
  
  /* margin-top: 30px;
  margin-bottom: 30px; */
}

.btn-login:hover{
  background-color: var(--hover);
  cursor: pointer;
}


@media only screen and (min-width: 1369px) {
  .div-login{
    width: 60%;
  }
}


@media (max-width: 768px) {
  .div-login-form{
    height: 100vh;
  }
  
  .div-login{
    flex-direction: column;
  }

  .login-form{
    width: 100%;
  }
}


.view-wrapper-login {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  box-sizing: border-box;
}

/* Cada vista ocupa el 100% del modal */
.view-login {
  position: absolute;
  display: flex;
  flex-direction: column;
  inset: 0;
  background: #fff;
  padding: 5px;
  gap: 5px;
  box-sizing: border-box;
  opacity: 1;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}

/* Animaciones */
@keyframes slide-in-left {
  from {
    transform: translateX(100%);
    opacity: 0.3;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  from {
    transform: translateX(-100%);
    opacity: 0.3;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-to-left {
  animation-name: slide-in-left;
}

.slide-to-right {
  animation-name: slide-in-right;
}