.div-login-form{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);

  /* margin: 0 auto; */
  width: 100%;
  /* max-width: 100%; */
  height: 100vh;
  padding: 0px 0px 0px 0px;
  background: linear-gradient(-45deg, #6DBE45, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientMove 15s ease infinite;
}

/* Animación */
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.div-login{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  height: fit-content;
  padding: 10px;
  border-radius: 20px;
  /* background-color: #ffffff93; */
  /* margin: 0 auto; */
  /* box-shadow: var(--box-shadow); */
  gap: 10px;
  @media (max-width: 552px) {
    flex-direction: column;
  }
}


/* .slogan{
  width: 50%;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding-right: 40px;
  padding-left: 40px;
  color: #ffffff;
} */

.slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding-right: 40px;
  padding-left: 40px;
  color: #ffffff;
}

.fade {
  opacity: 0;
  animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0; transform: translateY(10px); }
  20%, 80% { opacity: 1; transform: translateY(0); }
}

.login-form h2{
  color: #000000;
  margin-bottom: 20px;
}

.login-form .div-img{
  margin: 0 auto;
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

.login-form .div-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  background-color: #ffffffbb;
  box-sizing: border-box;
  width: 25%;
  height: auto;
  /* border-radius: .75rem; */
  border-radius: 10px;
  padding: 20px;
  gap: 10px;
  box-shadow: var(--box-shadow);
}

.login-form > p {
  color: gray;
  font-size: 12px;
}

.btn-login{
  background-color: var(--color-primary);
  text-align: center;
  width: 100%;
  height: 40px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-style: none;
  /* border-radius: .1875rem; */
  border-radius: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn-login:hover{
  background-color: var(--hover);
  cursor: pointer;
}
