/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

:root{

  --color-primary: #00B5C8;
  --color-secondary: #FF6F61;
  --color-tertiary: #6DBE45;
  --color-cuaternary: #E7C51D;
  --color-quinary: #4A4A4A;

  --color-primary-hover: #00CBE0;
  --color-primary-active: #004B59;

  --color-success-light: #d1fae5;
  --color-error-light: #fee2e2;
  --box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

}
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f5f5f5;
  color: #333333;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
  font-style: normal;
  /* font-weight: normal; */
}


/* .btn-secondary:hover {
      background: #c0392b;
      transform: translateY(-2px);
    } */

.principal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  
  /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
  /* overflow-y: hidden; */
  /* arriba | derecha | abajo | izquierda */
  /* margin: 30px 0px 100px 0rem; */
}


.div-principal{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  border-radius: 10px;
  padding: 10px;
  /* arriba | derecha | abajo | izquierda */
  padding: 10px;
  gap: 10px;
  box-shadow: var(--box-shadow);

  transition: padding 500ms ease;
}

.div-principal-home{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  padding: 10px;
  /* arriba | derecha | abajo | izquierda */
  padding: 10px;
  gap: 10px;

  transition: padding 500ms ease;
}

.principal-admin{
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  /* arriba | derecha | abajo | izquierda */
  padding: 10px;
  gap: 10px;
  background-color: #ffffff;
}


@media only screen and (min-width: 1368px) {
  .principal, .div-principal{
    width: 100%;
  }
}